---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Página no encontrada | Bookle"
>

<section class="section-bookle">

  <div class="container-bookle text-center">

    <h1 class="mb-6 text-6xl font-bold">
      404
    </h1>

    <p class="mb-8 text-xl text-gray-600">
      La página que buscas no existe.
    </p>

    <a
      href="/"
      class="rounded-lg bg-[#315F85] px-6 py-4 text-white"
    >
      Volver al inicio
    </a>

  </div>

</section>

</MainLayout>