---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Información legal | Bookle">

<section class="section-bookle">

  <div class="container-bookle max-w-4xl">

    <h1 class="mb-8 text-5xl font-bold">
      Información legal
    </h1>

    <p class="text-gray-600">
      Información legal pendiente de actualización.
    </p>

  </div>

</section>

</MainLayout>