---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Página en construcción">

<section class="section-bookle">
  <div class="container-bookle">

    <h1 class="text-5xl font-bold mb-6">
      Página en construcción
    </h1>

  </div>
</section>

</MainLayout>