---
import { getCollection } from "astro:content";

import MainLayout from "../layouts/MainLayout.astro";
import PageHero from "../components/PageHero.astro";
import ProjectCard from "../components/ProjectCard.astro";

const proyectos = await getCollection("proyectos");
---

<MainLayout title="Proyectos | Bookle">

<PageHero
  title="Experiencia aplicada a cada producción"
  description="Una selección de proyectos y áreas de especialización."
/>

<section class="section-bookle">

  <div class="container-bookle">

    <div class="grid gap-8 lg:grid-cols-2">

      {
        proyectos.map((proyecto) => (
          <ProjectCard
            title={proyecto.data.title}
            description={proyecto.data.description}
            category={proyecto.data.category}
            slug={proyecto.slug}
          />
        ))
      }

    </div>

  </div>

</section>

</MainLayout>